<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{{page_title}}</title>
    <style type="text/css">
      #content {
       width: 500px; /* Ширина слоя */
       margin: 0 auto 50px; /* Выравнивание по центру */
      }
      #footer {
       position: fixed; /* Фиксированное положение */
       left: 0; bottom: 0; /* Левый нижний угол */
       padding: 5px; /* Поля вокруг текста */
       width: 100%; /* Ширина слоя */
      }
     </style>
     <style>
      .force-scroll {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
  </style>
</head>
<body>

 <!-- Header -->
 <header>
  <div class="bg-dark" id="navbarHeader">
    <div class="container">

  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
      </a>
      <button class="navbar-toggler" type="button" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
 </header> 
 
 <!-- Main --->
<main role="main">

<div class="container">
    <div class="row">
       <div class="col-9">
        <h3>
          СЕРВИС ПОГОДЫ города Москвы готов порадовать тебя 
          статистическими показателями погоды!
        </h3>
        <br></br>
        <h5>
          Выбери дату:
        </h5>
<div class="btn-group">
  <button class="btn btn-warning btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    День
  </button>

  <div class="dropdown-menu dropdown-warning force-scroll">
      <a class="dropdown-item" href="#">День</a>
      <a class="dropdown-item" href="#">01</a>
      <a class="dropdown-item" href="#">02</a>
      <a class="dropdown-item" href="#">03</a>
      <a class="dropdown-item" href="#">04</a>
      <a class="dropdown-item" href="#">05</a>
      <a class="dropdown-item" href="#">06</a>
      <a class="dropdown-item" href="#">07</a>
      <a class="dropdown-item" href="#">08</a>
      <a class="dropdown-item" href="#">09</a>
      <a class="dropdown-item" href="#">10</a>
      <a class="dropdown-item" href="#">11</a>
      <a class="dropdown-item" href="#">12</a>
      <a class="dropdown-item" href="#">13</a>
      <a class="dropdown-item" href="#">14</a>
      <a class="dropdown-item" href="#">15</a>
      <a class="dropdown-item" href="#">16</a>
      <a class="dropdown-item" href="#">17</a>
      <a class="dropdown-item" href="#">18</a>
      <a class="dropdown-item" href="#">19</a>
      <a class="dropdown-item" href="#">20</a>
      <a class="dropdown-item" href="#">21</a>
      <a class="dropdown-item" href="#">22</a>
      <a class="dropdown-item" href="#">23</a>
      <a class="dropdown-item" href="#">24</a>
      <a class="dropdown-item" href="#">25</a>
      <a class="dropdown-item" href="#">26</a>
      <a class="dropdown-item" href="#">27</a>
      <a class="dropdown-item" href="#">28</a>
      <a class="dropdown-item" href="#">29</a>
      <a class="dropdown-item" href="#">30</a>
      <a class="dropdown-item" href="#">31</a>
    </div>
</div>

<div class="btn-group">
<button class="btn btn-warning btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Месяц
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">месяц</a>
    <a class="dropdown-item" href="#">январь</a>
    <a class="dropdown-item" href="#">февраль</a>
    <a class="dropdown-item" href="#">март</a>
    <a class="dropdown-item" href="#">апрель</a>
    <a class="dropdown-item" href="#">май</a>
    <a class="dropdown-item" href="#">июнь</a>
    <a class="dropdown-item" href="#">июль</a>
    <a class="dropdown-item" href="#">август</a>
    <a class="dropdown-item" href="#">сентябрь</a>
    <a class="dropdown-item" href="#">октябрь</a>
    <a class="dropdown-item" href="#">ноябрь</a>
    <a class="dropdown-item" href="#">декабрь</a>
  </div>
</div>

<br></br>
<button type="button" class="btn btn-info btn-lg" style="color: black;">Получи прогноз</button>
</div>
       <div class="col-3" >
          <br></br>
          <br></br>
          <br></br>
                    <h3  class="float-right" style="color: red;" >
                        {% if weather_nows %}
                            Погода на данный момент:
                            {{ weather_nows.temp_C }}<sup>o</sup>
                        {% else %}
                            Сервис погоды временно недоступен
                        {% endif %}
                    </h3>
                  <div><img src="cat.jpg"></div>
       </div>
</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Futer --->

<footer>
    <div id="footer" class="bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-5 py-1">
              <h4 class="text-white">О нас</h4>
              <p class="text-muted">Сервис статистики погоды города Москвы</p>
            </div>
            <div class="col-sm-3 offset-md-2 py-1">
              <h4 class="text-white">Контакты</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-muted" href="#">Свяжитесь с нами</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </footer>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
