<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="http://thefavicongallery.com/m/a/makikoitoh.com.ico" type="image/x-icon">
    <title>{{page_title}}</title>
    <style type="text/css">
      #content {
       width: 500px; /* Ширина слоя */
       margin: 0 auto 50px; /* Выравнивание по центру */
      }
      #footer {
       position: fixed; /* Фиксированное положение */
       left: 0; bottom: 0; /* Левый нижний угол */
       padding: 5px; /* Поля вокруг текста */
       width: 100%; /* Ширина слоя */
      }
     </style>
     <style>
      .force-scroll {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
  </style>
</head>
<body>

 <!-- Header -->
 <header>
  <div class="bg-dark" id="navbarHeader">
    <div class="container">

  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
      </a>
      <button class="navbar-toggler" type="button" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
 </header> 
 
 <!-- Main --->
<main role="main">

<div class="container">
    <div class="row">
       <div class="col-8">
        <h4>
          Я, кот ВАСИЛИЙ, готов порадовать тебя статистическим прогнозом погоды по Москве на любую дату
        </h4>
        <br></br>
        <h4 style="color: blue;">
          <b>Мяу, хозяин, выбери дату!</b>
        </h4>

  <!--<div class="dropdown-menu dropdown-warning force-scroll">-->
      <form  class="form-inline" action="" method="GET"> 
      <div class="form-group mb-2" >
          <label for="exampleFormControlSelect1">День</label>
      <select class="form-control" id="exampleFormControlSelect1" name="date" value="{{ request.args.get('date', '') }}">
      <option>01</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
      <option>05</option>
      <option>06</option>
      <option>07</option>
      <option>08</option>
      <option>09</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
    </select>
  </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="exampleFormControlSelect1">Месяц</label>
  <select class="form-control" id="exampleFormControlSelect1" name="month" value="{{ request.args.get('month', '') }}">
      <option>январь</option>
      <option>февраль</option>
      <option>март</option>
      <option>апрель</option>
      <option>май</option>
      <option>июнь</option>
      <option>июль</option>
      <option>август</option>
      <option>сентябрь</option>
      <option>октябрь</option>
      <option>ноябрь</option>
      <option>декабрь</option>
    </select>
  </div>
  {{ form.submit() }}
</form>
<br></br>
   {% if average_temp %}
      <b> {{ average_temp }}<sup>o</sup>] </b> 
   {% else %}
       <b>Дата пока не выбрана. Выбери дату (кроме 30.02, 31.02, 31.04, 31.06, 31.09 и 31.11 - таких дат не существует)</b>
   {% endif %}


</div>

       <div class="col-4" >
          
        
                  <h5  class="float-left" style="color: red;" >
                    {% if weather_nows %}
                      <b>Василий о погоде на сегодня:</b>
                      </h5>
                      <h5 style="color: red;">
                      <div><img src="https://www.meme-arsenal.com/memes/35547e986ea4646f161267cdfa543caa.jpg" width=241px height=230px></div>
                      Муррр, температура сегодня
                        {{ weather_nows }}<sup>o</sup>
                        {{ weather_nows_text }}
                    {% else %}
                        Сервис погоды временно недоступен
                    {% endif %}
                    </h5>
                  <h5>
                  <p>
                    На сегодняшнюю дату максимальная температура зарегистрирована в {{max_now}}<sup>o</sup>], а минимальная - в {{min_now}}<sup>o</sup>].
                  </p>
                  </h5>
       </div>
</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Futer --->

<footer>
    <div id="footer" class="bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-5 py-1">
              <h4 class="text-white">О нас</h4>
              <p class="text-muted">Сервис статистики погоды города Москвы</p>
            </div>
            <div class="col-sm-3 offset-md-2 py-1">
              <h4 class="text-white">Контакты</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-muted" href="#">Свяжитесь с нами</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </footer>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
